# Day1

# Basics of python

In [2]:
#print
print("hello")

hello

In [11]:
#variables in python
#we dont  have to declare the type of the variable in python like int,float,char.
#one variable on one line
a=5
b=4
print(a+b)
#multiple variables on one line
a,b=4,4
print(a+b)
#string
name = "niranjan"
print(name + " powade")
#fetching letters of string first
print(name[0])
#fetchind letter of string last
print(name[-1])
#fetching multiple characters of strinng
print(name[0:4]) #Note:-it will print characters from index[0] to index[3 not 4]
#length of the string
len(name)

9
8
niranjan powade
n
n
nira

8

In [30]:
#list in python
#in list we can store multiple values of different data types like int,chare,float
student1=["Niranjan powade",30,"computer science engineering"]
print(student1)
#fetching element from list
print(student1[0])
#lists in list
rollno=[5,6,7]
names=["niranjan","sammit","sumit"]
rollnonames=[rollno,names]
print(rollnonames)

#operations on string
#strings are mutable(mutablbe means you can changes the values)
#-append
rollno.append(32)
names.append("amey")
print(rollnonames)
#-insert(insert element in between)
names.insert(1,"rushi") #1 means index number and rushi means element to be inserted
print(rollnonames)
#-remove
names.remove("rushi")
print(rollnonames)
#-pop
names.pop(0)
names.pop() #last in first out the output will be last element
#-insert multiple values in list
names.extend(["rushi","rajya"])
print(names)
#-minimum,maximum and sum from the list
min(rollno)
max(rollno)
sum(rollno)

['Niranjan powade', 30, 'computer science engineering']
Niranjan powade
[[5, 6, 7], ['niranjan', 'sammit', 'sumit']]
[[5, 6, 7, 32], ['niranjan', 'sammit', 'sumit', 'amey']]
[[5, 6, 7, 32], ['niranjan', 'rushi', 'sammit', 'sumit', 'amey']]
[[5, 6, 7, 32], ['niranjan', 'sammit', 'sumit', 'amey']]
['sammit', 'sumit', 'rushi', 'rajya']

50

In [32]:
#tuple in python
#-tuple is also same as list
#-the only difference is in list we can change the values and in tuple we cant
tup=(1,2,3,4,5,6,7)
tup[1]
# tup[1]=5  TypeError: 'tuple' object does not support item assignment
#for faster execution

TypeError: 'tuple' object does not support item assignment

In [33]:
#set in python
#-collection of unique elements
a={22,34,47,345,22,34,7757}
print(a) #no duplicate values
#indexing is not allowed in sets

{34, 22, 345, 7757, 47}

In [14]:
#Dictonary in python
#- key-value pairs
#-key maps to the associated value to it
data = {1:"niranjan",2:"sammit",3:"sammit"}
print(data)
print(data[1])
print(data[1])
print(data.get(4,"not fuond")) #if somethign is not availabvle on the internet the browser will show you not found 
#how to combine 2 lists to form a dictonary
keys =["niranjan","sumit","sammit","extra"]
values = ["python","cpp","java"]
data = dict(zip(keys,values))
print(data)
#adding element
data["amey"]="java"
print(data)
#-delete data from the list
del data["amey"]
print(data)


#dictonary examples
#-list in dictonary,dictonary in dictonary
prog={"js":"atom","python":["vscode","pycharm","sublime"],"java":{
    "jse":"netbeans","jee":"eclipse"
}}
print(prog["js"])
print(prog['python'])
print(prog["java"]) #print(prog["java"]["jee"])

{1: 'niranjan', 2: 'sammit', 3: 'sammit'}
niranjan
niranjan
not fuond
{'niranjan': 'python', 'sumit': 'cpp', 'sammit': 'java'}
{'niranjan': 'python', 'sumit': 'cpp', 'sammit': 'java', 'amey': 'java'}
{'niranjan': 'python', 'sumit': 'cpp', 'sammit': 'java'}
atom
['vscode', 'pycharm', 'sublime']
{'jse': 'netbeans', 'jee': 'eclipse'}

In [23]:
#more on variables
a=5
name="niranjan"
#how to find address of the above variable??
id(a) #2908214159792
id(name) #2908294779056
#- in python if you 2 variables and the both variables have the same data then 
#- they will point to the same block.a=10,b=10 address of both var will be same
a=10
b=10
print(id(a)) #2908214159952
print(id(b)) #2908214159952
#-no constants in python
#-type of variable
print(type(a))

2908214159952
2908214159952
<class 'int'>

In [ ]:
#data types in python

#-1- NONE - means nothing is assigned to that object
#-2- NUMERIC -int,float,complex(real number+imaginary number),bool
#-3- SEQUENCE -list,tuple,set,string(no char type in python),range(0,10,2(difference))
#-4- DICTONARY -key-value pairs.   var.keys for keys and var.values for values